<aside id="column-left" class="col-sm-3">
  <div id="eleads-filter-sidebar"></div>
</aside>
{% if filter_custom_css %}
<style id="eleads-custom-css-sidebar">
{{ filter_custom_css|raw }}
</style>
{% endif %}
